/*************************** public styles ***************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: newyork;
  src: url("fonts/NewYork.otf") format("opentype");
}

html {
  scroll-behavior: smooth;


}

main {
  overflow: hidden;
}

:root {
  --primary-color: #003F9A;
  --secondary-color: #F2F2F2;
  --third-color: #FE9F00;
  --fourth-color: #002B6A;
  --fifth-color: #647EA4;
  --black: #000000;
  --white: #ffffff;
  --bg-sections: #F9F9F9;
  --header-font-family: 'newyork';
  --main-font-family: 'Poppins', sans-serif;
  --heading-font-size-25: 25px;
}

* {
  font-family: var(--main-font-family);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.bg-fourth-color {
  background-color: var(--fourth-color);
}

.bg-fifth-color {
  background-color: var(--fifth-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.fourth-color {
  color: var(--fourth-color);
}

.fifth-color {
  color: var(--fifth-color);
}

.header-font-family {
  font-family: var(--header-font-family);
}

.main-font-family {
  font-family: var(--main-font-family);
}

.black {
  color: black;
}

.white {
  color: white;
}

i {
  color: var(--white);
}

.h2 {
  font-size: 46px !important;
}

.heading-font-size-25 {
  font-size: var(--heading-font-size-25);
}

p {
  font-size: 16px;
}

.ps-135 {
  padding-left: 135px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.py-100 {
  padding: 100px 0px;
}

.pt-100 {
  padding-top: 100px;
}

.pe-15 {
  padding-right: 15rem !important;
}

/* .py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
} */

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 


  
  .arabic-font-family {
    font-family: var(--arabic-font-family);
  }
  
  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width:992px) {
    .center-lg-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .overlay-75 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .overlay-50 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .camel-case {
    text-transform: capitalize;
  }
  
  .upper-case {
    text-transform: uppercase;
  }
  
  .thin {
    font-weight: 100;
  }
  
  .right {
    text-align: right;
  }
  
  .left {
    text-align: left;
  }
  
  a,
  a:hover {
    text-decoration: none;
    color: var(--white);
  }
  
  ul {
    list-style-type: none;
  }
  
  .py-70 {
    padding: 70px 0px;
  }
  
  .py-100 {
    padding: 100px 0px;
  }
  
  .pt-100{
    padding-top: 100px;
  }
  
  @media screen and (max-width:992px) {
    .mt-tablet-80{
      margin-top: 80px;
    }
  
    .pb-tablet-120{
      padding-bottom: 120px;
    }
  }
  
  @media screen and (min-width:767px) {
    .py-md-100{
      padding: 100px 0px;
    }
  }
  
  
  .btn-regular{
    background-color: var(--third-color);
    color: white;
    transition: .2s;
  }
  
  .btn-regular:hover{
    background-color: #117e3d;
  } */


/*************************** end of public styles ***************************/
/*************************** start of navbar with offcanvas form styles ***************************/

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-link:active {
  text-decoration: underline;
  color: var(--third-color) !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--third-color) !important;
}

/*************************** end of navbar with offcanvas form styles ***************************/


/* ==========================================================================================================
										banner
========================================================================================================== */
/* .curved {
  position: relative;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-bottom-left-radius: 50% 14%;
  border-bottom-right-radius: 50% 14%;
} */

.hero-img {
  width: 100%;
  min-height: calc(100vh - 104px) !important;
}

.break-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

/* ==========================================================================================================
								grades
========================================================================================================== */
.grades {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

}

.grades-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background-repeat: no-repeat !important; */
  margin: auto;
}

/* ==========================================================================================================
							schools
========================================================================================================== */

.schools {
  width: 100%;
  position: absolute;
  top: -131px;
}

/* ==========================================================================================================
            choose our school
========================================================================================================== */
.choose-our-school {
  background-color: var(--bg-sections);
}

.choose-our-school .max-w {
  max-width: 580px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choose-our-school .max-h {
  height: 600px;
}

.choose-our-school .pb-40 {
  padding-bottom: 40px;
}

.choose-our-school .choose-desc {
  height: auto;
  right: 0;
  top: 380px;
}

.choose-third {
  max-width: 300px;
  height: 290px;
  border: 8px solid #F9F9F9;
  position: absolute;
  left: -24%;
  bottom: -16%;
  z-index: 9999999;
}

/* ==========================================================================================================
            home about
========================================================================================================== */
.home-about .home-about-img {
  max-width: 600px;
}

/*************************** start of input form styles ***************************/
@media (min-width:768px) {
  .sign-up .input-form {
    width: 50%;
  }
}

/*************************** end of input form styles ***************************/

.grades .triangle {
  width: 473px;
  height: 410px;
  margin: auto;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* ==========================================================================================================
						footer
========================================================================================================== */

.brand-footer {
  max-width: 150px;
}

.links-footer li a {
  color: white;
}

footer .font-footer-copy {
  margin-top: 20px;
  font-size: 12px;
}