/*************************** public styles ***************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: newyork;
  src: url("fonts/NewYork.otf") format("opentype");
}

html {
  scroll-behavior: smooth;


}

main {
  overflow: hidden;
}

:root {
  --primary-color: #003F9A;
  --secondary-color: #F2F2F2;
  --third-color: #FE9F00;
  --fourth-color: #002B6A;
  --fifth-color: #647EA4;
  --black: #000000;
  --white: #ffffff;
  --bg-sections: #F9F9F9;
  --header-font-family: 'newyork';
  --main-font-family: 'Poppins', sans-serif;
  --heading-font-size-25: 25px;
}

* {
  font-family: var(--main-font-family);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.bg-fourth-color {
  background-color: var(--fourth-color);
}

.bg-fifth-color {
  background-color: var(--fifth-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.fourth-color {
  color: var(--fourth-color);
}

.fifth-color {
  color: var(--fifth-color);
}

.header-font-family {
  font-family: var(--header-font-family);
}

.main-font-family {
  font-family: var(--main-font-family);
}

.black {
  color: black;
}

.white {
  color: white;
}

i {
  color: var(--white);
}

.h2 {
  font-size: 46px !important;
}

.heading-font-size-25 {
  font-size: var(--heading-font-size-25);
}

p {
  font-size: 16px;
}

.ps-135 {
  padding-left: 135px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.py-100 {
  padding: 100px 0px;
}

.pt-100 {
  padding-top: 100px;
}

.pe-15 {
  padding-right: 15rem !important;
}

/* .py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
} */

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 


  
  .arabic-font-family {
    font-family: var(--arabic-font-family);
  }
  
  .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width:992px) {
    .center-lg-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .overlay-75 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .overlay-50 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .camel-case {
    text-transform: capitalize;
  }
  
  .upper-case {
    text-transform: uppercase;
  }
  
  .thin {
    font-weight: 100;
  }
  
  .right {
    text-align: right;
  }
  
  .left {
    text-align: left;
  }
  
  a,
  a:hover {
    text-decoration: none;
    color: var(--white);
  }
  
  ul {
    list-style-type: none;
  }
  
  .py-70 {
    padding: 70px 0px;
  }
  
  .py-100 {
    padding: 100px 0px;
  }
  
  .pt-100{
    padding-top: 100px;
  }
  
  @media screen and (max-width:992px) {
    .mt-tablet-80{
      margin-top: 80px;
    }
  
    .pb-tablet-120{
      padding-bottom: 120px;
    }
  }
  
  @media screen and (min-width:767px) {
    .py-md-100{
      padding: 100px 0px;
    }
  }
  
  
  .btn-regular{
    background-color: var(--third-color);
    color: white;
    transition: .2s;
  }
  
  .btn-regular:hover{
    background-color: #117e3d;
  } */


/*************************** end of public styles ***************************/
/*************************** start of navbar with offcanvas form styles ***************************/
header {
  margin-bottom: 71px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 79px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 30px;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 999999;
  }

  /* header .fixed{
    position: fixed;
    width: 100%;
  } */

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}

.nav-link:active {
  text-decoration: underline;
  color: var(--third-color) !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--third-color) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
}

header .navbar-brand {
  width: 59px;
}

header .vertical-line,
footer .vertical-line {
  width: 1px;
  height: 20px;
  background-color: #FFFFFF;
  margin-top: 14px;
}

/*************************** end of navbar with offcanvas form styles ***************************/


/* ==========================================================================================================
banner
========================================================================================================== */
.hero-img {
  width: 100%;
  min-height: calc(100vh - 104px) !important;
}

.break-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

/* ==========================================================================================================
grades
========================================================================================================== */
.grades {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.grades .triangles-pt-210 {
  padding-top: 210px;

}

.grades .grades-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}

.grades .triangle {
  width: 473px;
  height: 410px;
  margin: auto;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
}

.grades .triangle-bg {
  width: 511px;
  height: 443px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: -9;
}

/* ==========================================================================================================
schools
========================================================================================================== */

.schools {
  width: 100%;
  position: absolute;
  top: -158px;
}

/* ==========================================================================================================
choose our school
========================================================================================================== */
.choose-our-school {
  background-color: var(--bg-sections);
}

.choose-our-school .max-w {
  max-width: 580px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choose-our-school .max-h {
  height: 600px;
}

.choose-our-school .pb-40 {
  padding-bottom: 40px;
}

.choose-our-school .choose-desc {
  height: auto;
  right: 0;
  top: 380px;
}

.choose-third {
  max-width: 300px;
  height: 290px;
  border: 8px solid #F9F9F9;
  position: absolute;
  left: -24%;
  bottom: -16%;
  z-index: 20;
}

.choose-our-school .bg-triangle-left {
  top: 0;
  left: -360px;
}

/* ==========================================================================================================
Back-To-School
========================================================================================================== */
.Back-To-School {
  background-color: var(--bg-sections);
}

.Back-To-School .bg-triangle-right {
  top: 0;
  right: -310px;
}

.Back-To-School .card {
  border: none;
  background-color: unset;
}

.Back-To-School .card-body {
  padding: 1rem 0rem;
}

.owl-stage .cloned .active {
  background-color: red;
}

.owl-stage {
  margin: auto;
}

.carousel-wrap .owl-nav {
  text-align: end;
  margin-right: 90px;
  margin-top: 40px;
  height: 0px;
}

.arrow-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.arrow-circle :hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--third-color);
}

.arrows {
  color: var(--third-color);
  font-size: 28px;
}

.arrows:hover {
  color: var(--secondary-color);
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background: #F2F2F2;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: var(--third-color);
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

span {
  font-size: 70px;
  position: relative;
  top: -5px;
}

.Back-To-School .card .card-body .card-title,
.Back-To-School .card .card-body .read-more,
.Back-To-School .card .card-body .arrow-read-more {
  transition: all .3s;

}

.Back-To-School .card {
  cursor: pointer;
}

.Back-To-School .card:hover .card-body .card-title,
.Back-To-School .card:hover .card-body .read-more,
.Back-To-School .card:hover .card-body .arrow-read-more {
  color: var(--third-color);
}

.Back-To-School .card:hover .card-body .card-text {
  color: var(--primary-color);
}

/* .center .card-body .card-title,
.center .card-body .read-more,
.center .card-body .arrow-read-more {
  color: var(--third-color);
}

.center .card-body .card-text {
  color: var(--primary-color);
} */

/* ==========================================================================================================
home about
========================================================================================================== */
.home-about .home-about-img {
  max-width: 600px;
}

/* ==========================================================================================================
footer
========================================================================================================== */

footer .logo-footer {
  width: 80px;
  margin: 0 auto;
}

/* .brand-footer {
  max-width: 150px;
} */

.links-footer li a {
  color: white;
}

footer .font-footer-copy {
  margin-top: 20px;
  font-size: 12px;
}

footer .line {
  margin-right: 38px;
}

footer .vertical-line {
  width: 1px;
  height: 35px;
  background-color: #FFFFFF;
  margin-top: 14px;
  margin-top: 29px;
  opacity: 0.2;
}

/* ==========================================================================================================
Media Query 
========================================================================================================== */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .grades .triangle-bg {
    left: 20%;
  }

  .choose-our-school .choose-desc {
    height: auto;
    right: -38px;
    top: 404px;
  }

  .choose-our-school .pt-100 {
    padding-top: 50px;
  }

  .choose-our-school .ps-135 {
    padding-left: 20px;
  }

  .choose-our-school .choose-third {
    max-width: 300px;
    height: 290px;
    border: 8px solid #F9F9F9;
    position: absolute;
    left: -33%;
    bottom: -31%;
    z-index: 9999999;
  }

  .choose-our-school .pe-15 {
    padding-right: 8rem !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .h2 {
    font-size: 40px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar-toggler-icon {
    /* width: 60px; */
    width: 40px;
    height: 71px;
  }

  .grades .grades-img {
    width: 100px;
    height: 100px;

  }

  .schools {
    top: -102px;
  }

  .grades .triangle-bg {
    left: 10%;
  }

  .home-about p {
    font-size: 11px;
  }

  .home-about .h2 {
    font-size: 25px !important;
  }

  .choose-our-school .choose-desc {
    top: 348px;
  }

  .choose-our-school .pe-15 {
    padding-right: 5rem !important;
    line-height: 2;
  }

  .h2 {
    font-size: 25px !important;
  }

  p {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .grades .triangle {
    width: 365px;
    height: 410px;
    margin: 105px auto -60px;
  }

  .grades .triangle-bg {
    width: 314px;
    height: 362px;
    margin: auto;
    position: absolute;
    top: 78px;
    left: 8%;
    z-index: -9;
  }

  .choose-our-school .max-w {
    margin-top: 360px;
  }

  .choose-our-school .z-index-10 {
    z-index: 10;
  }

  .choose-our-school .choose-desc {
    right: 0;
  }

  .carousel-wrap .owl-nav {
    margin-top: 0px;
    position: relative;
    bottom: -64px;
    left: -11%;
  }
}